{% extends "patient/entrees/motif_entrees.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "macros/macro_datetime.html" import choisir_date_heure %}

{% block content %}
    {{ super() }}
    <h2>
        {{ _('Nouvelle mesure du poids') }}
    </h2>
    {% if message != "" %}
        <p>{{ message }}</p>
    {% endif %}
    <div id="creation_fiche_masse_pour_patients" class="col-8">
        <form id="creation_fiche_masse_pour_patients_form" method="POST">
            {{ form.csrf_token }}
            {{ choisir_date_heure(maintenant.jour, maintenant.mois, maintenant.annee, maintenant.heure, maintenant.minute) }}
            {{ wtf.form_field(form.masse) }}
            {{ wtf.form_field(form.unite_masse) }}
            <p></p>
            {{ wtf.form_field(form.enregistrement_poids) }}

        </form>
    </div>
{% endblock %}