




<p>Bonjour {{ user.prenom }} {{ user.nom }}</p>
<p></p>
<p>
    Vous nous avez fait part de votre intention de rejoindre Skilvit pour l'utiliser dans le suivi de vos patients dans le cadre d'une thérapie cognitivo-comportementale.
    Il va falloir que nos services valident votre inscription en vérifiant la véracité de vos renseignements.
<p>
    Si vous n'êtes pas l'initiateur de l'inscription à Skilvit ou si vous voulez arrêter l'inscription, vous pouvez annuler l'inscription en cliquant sur le lien suivant {{ link_to_dismiss }}
</p>

<p>Skilvit, <a href="https://www.skilvit.fr">skilvit.fr</a>.</p>
