-f /usr/share/pip-wheels
alembic==1.0.5
Babel==2.9.1
blinker==1.4
Click==7.0
cycler==0.10.0
dominate==2.3.5
Flask==1.0.2
Flask-Admin==1.5.3
Flask-Babel==0.12.2
# bootstrap-flask
-e git+https://github.com/beenje/flask-bootstrap.git@bootstrap-v4#egg=flask_bootstrap
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.3.1
-e git+https://github.com/miguelgrinberg/Flask-Moment.git#egg=flask_moment
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2>=2.10.1
kiwisolver==1.0.1
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.0.2
nltk==3.4.5
numpy==1.15.4
pyparsing==2.3.0
python-dateutil==2.7.5
python-editor==1.0.3
pytz==2018.9
selenium
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy>=1.3.0
visitor==0.1.3
Werkzeug==0.15.3
WTForms==2.2.1
pdfkit==0.6.1
wkhtmltopdf
