{% extends "motif_principal_bs.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <h2>{{ form.titre }} </h2>
    {% if mettre_message_succes %}
        <p>{{ form.message_succes }}</p>
    {% endif %}

    {% if connecte == "pseudo_non_enrigistre" or connecte == "mdp_incorrect"%}
        <p>{{ _("L'adresse email ou le mot de passe est incorrect.") }}.</p>
    {% elif connecte == "connecte" %}
        <p>{{ _('Bonjour') }} {{ pseudo }}. {{ _('Le connexion est bien établie.') }}</p>
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <p>Vous n'avez pas de compte ? Créez en un. <a href="{{ url_for('main.creer_nouveau_praticien') }}">{{ _('Nouveau praticien') }}</a></p>

    {{ super() }}
{% endblock %}
