<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href='/static/style.css'>
<head>
    <meta charset="UTF-8">
    <title>Notice</title>

</head>
<body>
    <h2>Skilvit</h2>
    <p>Skilvit est une application utile au suivi thérapeutique au sens large.</p>

    <h5>Mise en garde</h5>
    <p>Cette application n'est pas un conseiller thérapeutique.</p>

    <h5>Usage recommandé</h5>
    <p>Se faire suivre par un thérapeute (médecin, psychologue, osthéopate, etc) et discuter du suivi avec lui.</p>

    <h5> Qu'est-ce qu'une situation ?</h5>
    <p>Une situation est ici définie comme un événement ponctuel ou régulier qui vous semble digne d'être notée parce qu'elle a une signification.</p>

    <p>Cela peut être une situation stressante, désagréable ou simplement curieuse que vous ressentez.</p>

    <p></p>

    <h5>Liste des situations</h5>

    <h5>Ajouter une situation</h5>
    <p>Une situation est composée des éléments suivants.</p>
    <ul>
        <li>
            <p>Date : au format jj/(m)m/aaaa</p>
        </li>
        <li>
            <p>Heure : au format hh:mm</p>
        </li>
        <li>
            <p>Situation : description de la situation, de l'environnement,</p>
        </li>
        <li>
            <p>Emotions et sensations : exprimer ce que l'on ressent</p>
        </li>
        <li>
            <p>Intensité : une note de 1 à 10 où 1 représente un ressenti quasi banal de la situation et 10 est la pire
            des situations que vous ayez vécue</p>
        </li>
        <li>
            <p>Les pensées : mots pour décrire ce que vous pensez de la situation, ce que vous croyez qui arrive et qui
                vous arrive.</p>
        </li>
        <li>
            <p>Taux de croyance : nombre de 0 à 100 qui représente le pourcentage de croyance que l'on a sur la pensées
                en qustion.</p>
        </li>
        <li>
            <p>Pensées alternatives</p>
        </li>
        <li>
            <p>Taux de croyance actualisée :</p>
        </li>
    </ul>


    <h5>Ajouter une prise de médicament</h5>
    Lorsque vous prenez un médicament, il peut être intéressant de le noter, surtout pour les médicaments que l'on doit
    prendre souvent et pour longtemps. En cas d'oubli, cela peut constituer une gêne, voire être dangereux. Noter quand
    vous en prenez alors vous permettre de suivre tout cela.


    <h5>Activité physique</h5>
    <h5>Alimentation</h5>
    <h5>Glycémie</h5>
    <h5>Poids</h5>
    <h5>Sommeil</h5>

    <h5>Importation des données</h5>
        <p>L'importation des données est utile si on utilise l'application sur un autre portable (qui a aussi l'application)
        et que l'on souhaite retrouver ses données.</p>

    <h5>Exportation des données</h5>
    Tout ce que vous exportez se trouve dans le dossier "Documents" de votre portable.
    <ul>
        <li>
            <h6>Au format JSON</h6>
            <p>Ce format est pratique pour l'application. Il vous permet de garder une sauvegarde de toutes vos données
                et le stocker en dehors du portable. Ce format sert uniquement à être à nouveau importer dans un
                portable qui a l'application AideTCC.</p>
        </li>
        <li>
            <h6>Au format PDF</h6>
            <p>Ce format est agréable à lire et permet d'être lu par votre thérapeute facilement. Il vous suffit de
            lui envoyer le fichier PDF exporté..</p>
        </li>
    </ul>
    <h5>Options</h5>
    <p>Vous pouvez gérer ici cr que vous souhaitez voir afficher dans le menu principal</p>
</body>
</html>
