

{% macro choisir_date_heure(jour, mois, annee, heure, minute, id="", language="fr") %}

    <div class="form-group required">
        <label class="form-control-label" for="datetimepicker-hour-{{ id }}">{{ _("Heure") }}</label>
        <div class="input-group date form-group required" id="datetimepicker-hour-{{ id }}" data-target-input="nearest">
            <input type="text" required="" name="datetimepicker-hour-input-{{ id }}" class="form-control datetimepicker-input" data-target="#datetimepicker-hour-{{ id }}" value="{{ heure }}:{{ minute }}"/>
            <div class="input-group-append" data-target="#datetimepicker-hour-{{ id }}" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
        $('#datetimepicker-hour-{{ id }}').datetimepicker({
            format: 'LT',
            locale: '{{ language }}'
        });
        });
    </script>

    <div class="form-group required">
        <label class="form-control-label" for="datetimepicker-date-{{ id }}">{{ _("Date") }}</label>
        <div class="input-group date form-group required" id="datetimepicker-date-{{ id }}" data-target-input="nearest">
            <input type="text" required="" name="datetimepicker-date-input-{{ id }}" class="form-control datetimepicker-input" data-target="#datetimepicker-date-{{ id }}" value="{{ jour }}/{{ mois }}/{{ annee }}"/>
            <div class="input-group-append" data-target="#datetimepicker-date-{{ id }}" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $(function(){$('#datetimepicker-date-{{ id }}').datetimepicker({
                format: 'L',
                locale: '{{ language }}'
            });
            });
    </script>

{% endmacro %}

{% macro choisir_date(jour, mois, annee, _id="", language="fr", label="") %}

    <div class="form-group required">
        {%  if label == "" %}
            <label class="form-control-label" for="datetimepicker-date-{{ id }}">{{ _("Date") }}</label>
        {% else %}
            <label class="form-control-label" for="datetimepicker-date-{{ id }}">{{ label }}</label>
        {% endif %}
        <div class="input-group date form-group required" id="datetimepicker-date-{{ id }}" data-target-input="nearest">
            <input type="text" required="" name="datetimepicker-date-input-{{ id }}" class="form-control datetimepicker-input" data-target="#datetimepicker-date-{{ id }}" value="{{ jour }}/{{ mois }}/{{ annee }}"/>
            <div class="input-group-append" data-target="#datetimepicker-date-{{ id }}" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
            $(function(){$('#datetimepicker-date-{{ id }}').datetimepicker({
                format: 'L',
                locale: '{{ language }}'
            });
            });
    </script>


{% endmacro %}


{% macro wtf_choisir_date_heure(field, jour, mois, annee, heure, minute, id="", language="fr") %}

    <div class="form-group required">
        {# <label class="form-control-label" for="datetimepicker-hour-{{ id }}">{{ _("Heure") }}</label> #}
        <div class="input-group date form-group required" id="datetimepicker-hour-{{ id }}" data-target-input="nearest">
            <div>{{ field.label }}: {{ field(class="form-control datetimepicker-input", data_toggle="datetimepicker", data_target="#datetimepicker-hour-"+_id, value=heure+":"+minute) }}</div>
            {# <input type="text" required="" name="datetimepicker-hour-input-{{ id }}" class="form-control datetimepicker-input" data-target="#datetimepicker-hour-{{ id }}" value="{{ heure }}:{{ minute }}"/> #}
            <div class="input-group-append" data-target="#datetimepicker-hour-{{ id }}" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(function(){
        $('#datetimepicker-hour-{{ id }}').datetimepicker({
            format: 'LT',
            locale: '{{ language }}'
        });
        });
    </script>

    <div class="form-group required">
        {# <label class="form-control-label" for="datetimepicker-date-{{ id }}">{{ _("Date") }}</label> #}
        <div class="input-group date form-group required" id="datetimepicker-date-{{ id }}" data-target-input="nearest">
            {{ field(class="form-control datetimepicker-input", data_toggle="datetimepicker", data_target="#datetimepicker-date-"+_id, value="{{ jour }}/{{ mois }}/{{ annee }}") }}
            {# <input type="text" required="" name="datetimepicker-date-input-{{ id }}" class="form-control datetimepicker-input" data-target="#datetimepicker-date-{{ id }}" value="{{ jour }}/{{ mois }}/{{ annee }}"/> #}
            <div class="input-group-append" data-target="#datetimepicker-date-{{ id }}" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $(function(){$('#datetimepicker-date-{{ id }}').datetimepicker({
                format: 'L',
                locale: '{{ language }}'
            });
            });
    </script>

{% endmacro %}


{% macro wtf_choisir_date(field, jour, mois, annee, _id="", language="fr", label="") %}

    {# <div>{{ field.label }}: {{ field(class="form-control datetimepicker-date-input", data_toggle="datetimepicker", data_target="#" + field.id) }}</div> #}

    <div class="form-group required">

        {%  if label == "" %}
            <label class="form-control-label" for="datetimepicker-date-{{ id }}">{{ _("Date") }}</label>
        {% else %}
            <label class="form-control-label" for="datetimepicker-date-{{ id }}">{{ label }}</label>
        {% endif %}
        <div class="input-group date form-group required" id="datetimepicker-date-{{ id }}" data-target-input="nearest">
            {{ field(class="form-control datetimepicker-input", data_toggle="datetimepicker", data_target="#datetimepicker-date-"+_id) }}
            {# <input type="text" required="" name="datetimepicker-date-input-{{ id }}" class="form-control datetimepicker-input" data-target="#datetimepicker-date-{{ id }}" value="{{ jour }}/{{ mois }}/{{ annee }}"/> #}
            <div class="input-group-append" data-target="#datetimepicker-date-{{ id }}" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
            $(function(){$('#datetimepicker-date-{{ id }}').datetimepicker({
                format: 'L',
                locale: '{{ language }}'
            });
            });
    </script>

{% endmacro %}
