{% extends "motif_principal_bs.html" %}

{% block content %}
    <h1>À propos de SKILVIT</h1>
    <p>SKILVIT est un outil d'aide au suivi personnel de son état de santé au sens large. </p>
    <p>C'est VOUS qui écrivez ce que vous ressentez et pensez.</p>

    <h2>Origine du nom SKILVIT</h2>
    <p>SKILVIT est un mot construit de la fusion de deux mots islandais : le premier <i>samvit</i> (/samvit/), qui signifie &laquo; conscience &raquo; et <i>skil</i> /skil/ qui signifie entre autres &laquo; discernement &raquo;, &laquo; savoir &raquo;, d'où skil-vit qui pourrait signifier &laquo; analyse de sa conscience &raquo;</p>

    <h2>Détails techniques</h2>
    <p>Techniquement, SKILVIT ne fonctionne correctement qu'à l'heure française et qu'en français.</p>

{% endblock %}
