{% extends "motif_principal_bs.html" %}

{#{% block title %} Accueil {% endblock %}#}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9">
                <h2>Contact</h2>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9 float-left">
                <p>
                    Contacter l'équipe de Skilvit par mail : skilvitapp@gmail.com.
                </p>
            </div>
        </div>
        <p></p>
    </div>
    {{ super() }}

{% endblock %}