{% extends "motif_principal_bs.html" %}
{% from "macros/afficher_formulaire_contact.html" import formulaire_contact %}

{#{% block title %} Accueil {% endblock %}#}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9">
                <h2>Contact</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9 float-left">
                {{ formulaire_contact() }}
            </div>
        </div>
        <p></p>
    </div>
    {{ super() }}

{% endblock %}